# 네이버 검색광고 API
NAVER_AD_API_KEY=your_api_key
NAVER_AD_SECRET_KEY=your_secret_key
NAVER_AD_CUSTOMER_ID=your_customer_id

# 네이버 검색 API (developers.naver.com)
NAVER_CLIENT_ID=your_client_id
NAVER_CLIENT_SECRET=your_client_secret

# Upstash Redis
UPSTASH_REDIS_REST_URL=your_upstash_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_token
